/* Home gallery */

.swiper-container {
	width: 100%;
	--swiper-navigation-color: #FFFFFF;

	.gallery-item {
		width: 100%;
		height: 600px;
		background-repeat: no-repeat;
		background-size: cover;

		@include media-query($on-laptop) {
			height: 400px;
		}

		@include media-query($small) {
			height: 300px;
		}

		@include media-query($x-small) {
			height: 250px;
		}

		&.slide1 {
			background-image: url('img/slider/photo1.jpg');
			background-color: #e8e8ea;
			background-size: contain;
			background-position: center;
		}
	}
}

.slide2 {
	background: url('img/slider/photo2.jpg');
	background-position: top 35% center;
}

.slide3 {
	background: url('img/slider/photo3.jpg');
	background-position: center;
}

.slide4 {
	background: url('img/slider/photo4.jpg');
	background-position: top 20% center;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
	color: #FEA62D;
}
