/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 15px 0;
  max-width: 800px;
  justify-content: center;
}

.trigger {
  display: flex;
  align-items: center;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    font-size: $large-font-size;
    position: absolute;
    color: $link-color;
    line-height: $base-line-height;
    margin: 0 15px;

    &:hover {
      color: $hover-color;
    }

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 15%;
    }

    &:nth-child(3) {
      right: 17%;
    }

    &:nth-child(4) {
      right: 0;
    }
  }

  @include media-query($on-palm) {
    z-index: 10;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    & .page-link {
      position: unset;
    }

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      position: inherit;
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      margin-right: 0;
      margin-left: 20px;
    }
  }
}

.site-logo {
  text-align: center;
}

@include media-query(450px) {
  .site-logo {
    width: 70%;
  }

  .site-nav {
    right: 10px;
  }
}

/**
 * Site footer
 */

/*Footer*/

footer {
  padding: $spacing-unit 0;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

/*Social logo circle*/
.social-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-sizing: border-box;
  padding: 7px;
  margin: 0 10px;

  &:hover {
    background: #fea62d;
    transition: background 0.25s;
    box-shadow: 0 0 7px rgba(254, 166, 45, 0.4);
  }
}

.copyright {
  display: block;
  margin: 0;
  text-align: center;
}

.icon {
  padding: 15px;
  width: 25px;
  height: 25px;
}

.contacts {
  margin: 20px auto;
  font-size: 1.1em;
  width: 16em;

  p {
    display: flex;
    align-items: center;
  }
}

#sent {
  z-index: 1;
  position: absolute;
  height: 60%;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateX(-100vw);
  text-align: center;
  color: $hover-color;
}

/**
 * Inputs
 */

.text-input {
  display: block;
  max-width: 600px;
  width: 80%;
  height: 30px;
  margin: 15px auto;
  border-radius: $corner-radius;
  background: #080808;
  padding: 10px;
  color: $text-color;
  border: 2px solid rgb(200, 200, 200);
  font-size: 0.75em;
  font-family: $base-font-family;

  &:hover {
    @include hover-border;
  }

  &:focus {
    outline: none;
    border: 2px solid rgb(100, 100, 100);
    background: $background-color;
  }
}

#info {
  height: 60px;
  resize: vertical;
}

.btn {
  display: inline-block;
  border-radius: $corner-radius;
  background: #080808;
  padding: 0.5rem 2.5rem;
  color: $text-color;
  border: 2px solid rgb(200, 200, 200);
  margin: 15px;
  min-width: 15rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: $base-font-family;
  cursor: pointer;
  line-height: 1.5;
  box-sizing: border-box;

  &:hover {
    color: $hover-color;
    @include hover-border;
  }

  &:focus {
    outline: none;
  }
}

/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1;
  background: #101010;
}

.text-description {
  padding: 0 10px;
  margin: 0;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.more-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 40px;

  span {
    font-size: 1em;
    opacity: 0.5;
    position: relative;
  }

  .more {
    height: 40px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
  }

  &:hover {
    span {
      opacity: 1;
      color: $text-color;
    }

    .more {
      transform: translate(120%, -50%);
    }
  }
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;

  @include media-query($on-palm) {
    height: 250px;
  }

  @include media-query(500px) {
    height: 200px;
  }

  @include media-query(380px) {
    height: 150px;
  }
}

.video-wrapper {
  margin-top: 20px;
  position: relative;
  width: 100%;
  padding-top: 56.25%;

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

audio {
  display: block;
  margin: 1rem auto;

  @include media-query($small) {
    width: 100%;
  }
}
