---
layout: read
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include head.html -%}

	<body>

		{%- include header.html -%}

		<main class="page-content" aria-label="Content">

			<div class="read-gallery">
				<a href="#img1" class="read-gallery-element thumbnail1"><div class="read-gallery-member" id="name1">
					<p>Олексій Савченко</p><p>(Барабани)</p></div>
				</a>
				<a href="#img2" class="read-gallery-element thumbnail2"><div class="read-gallery-member" id="name2">
					<p>Олексій Пономарьов</p><p>(Гітара)</p></div>
				</a>
				<a href="#img3" class="read-gallery-element thumbnail3"><div class="read-gallery-member" id="name3">
					<p>Каріна Щеголіхіна</p><p>(Вокал)</p></div>
				</a>
				<a href="#img4" class="read-gallery-element thumbnail4"><div class="read-gallery-member" id="name4">
					<p>Юрій Красноглазов</p><p>(Труба)</p></div>
				</a>
				<a href="#img5" class="read-gallery-element thumbnail5"><div class="read-gallery-member" id="name5">
					<p>Валентин Антошкін</p><p>(Контрабас)</p></div>
				</a>
			</div>
				
			<a href="#" class="lightbox" id="img1">
				<img src="assets/img/portraits/portrait1.jpg">
				<p>Олексій Савченко, барабани</p>
			</a>
			<a href="#" class="lightbox" id="img2">
				<img src="assets/img/portraits/portrait2.jpg">
				<p>Олексій Пономарьов, гітара</p>
			</a>
			<a href="#" class="lightbox" id="img3">
				<img src="assets/img/portraits/portrait3.jpg">
				<p>Каріна Щеголіхіна, вокал</p>
			</a>
			<a href="#" class="lightbox" id="img4">
				<img src="assets/img/portraits/portrait4.jpg">
				<p>Юрій Красноглазов, труба</p>
			</a>
			<a href="#" class="lightbox" id="img5">
				<img src="assets/img/portraits/portrait5.jpg">
				<p>Валентин Антошкін, контрабас</p>
			</a>

			<div class="wrapper-small">
				<p class="read-about">Tompsons Band - це колектив із п'яти життєрадісних людей з Києва, котрих об'єднує любов до музики, творчості, концертів та до своїх слухачів.</p>
				<p class="read-about">В репертуарі гурту - велика кількість різноманітних музичних стилів: джаз, свінг, бугі-вугі, рок-н-ролл, фанк, соул, диско, блюз, а також поп-хіти в оригінальних авторських аранжуваннях. Tompsons Band має багатий досвід концертної діяльності - виступи на фестивалях Mood to Swing, Retro Cruise, Кураж Базар, Retro Lviv Fest, "Джаз на пляже", концерти в клубах і на корпоративних та урочистих заходах. За шість років існування гурту в теперішньому складі колектив дав більш ніж 500 виступів на майданчиках як в Україні, так і за її кордоном, займав призові місця на різноманітних конкурсах і фестивалях.</p>
				<p class="read-about">Всі учасники постійно вдосконалюють свою індивідуальну та ансамблеву майстерність під чуйним керівництвом найкращих музикантів України. На сьогоднішній день у репертуарі колективу більш, ніж 250 кавер-версій та 10 авторських пісень. Репертуар постійно розширюється та оновлюється з урахуванням побажань слухачів. Нашою головною метою та пріоритетом є відмінний настрій та задоволення наших слухачів. З радістю та нетерпінням чекаємо на Вас на наших концертах.</p>
			</div>
		</main>

		{%- include footer.html -%}
    {%- include scripts.html -%}
	</body>

</html>